
@{
    ViewData["Title"] = "About Me";
}
<p>I am a new chicken owner with an interest in breeding and showing Dwarf Cochin chickens. I am also an IT student, so I am creating this
    website to learn more about ASP.NET Core, C# and chickens.
</p>
