@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Your Chicken Guide is a system to track chickens, their details and pedigree for breeding, showing
        and improving my flock.
    </p>
</div>
