@model IEnumerable<YourChickenGuide.Models.Chicken>  
@{  
    ViewData["Title"] = "Overview";  
}  

<div class="text-center">  
    <h1 class="display-4">Overview</h1>  
 
    <a class="btn btn-primary" asp-controller="Flock" asp-action="AddChicken">Add</a>  

</div>  

<div class="text-center">
    <h2>Current Chickens</h2>

    @if (!Model.Any())
    {
        <p>No chickens yet.</p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Legband ID</th>
                    <th>Breed</th>
                    <th>Sex</th>
                    <th>Status</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var chicken in Model)
                {
                    <tr>
                        <td>@chicken.Legband_Id</td>
                        <td>@chicken.Breed</td>
                        <td>@chicken.Sex</td>
                        <td>
                            @if (chicken.Status == "Breeder")
                            {
                                <span class="badge bg-success">Breeder</span>
                            }
                            else if (chicken.Status == "Sold")
                            {
                                <span class="badge bg-danger">Sold</span>
                            }
                            else if (chicken.Status == "Freezer")
                            {
                                <span class="badge bg-primary">Freezer</span>
                            }
                            else if (chicken.Status == "Breakfast")
                            {
                                <span class="badge bg-warning">Breakfast</span>
                            }
                            else if (chicken.Status == "Dead")
                            {
                                <span class="badge bg-dark">Dead</span>
                            }
                            else if (chicken.Status == "Young")
                            {
                                <span class="badge bg-info">Growing</span>
                            }

                            else
                            {
                                <span class="badge bg-secondary">Unassigned</span>
                            }
                        </td>
                        <td>
                            <a asp-controller="Flock" asp-action="ViewChicken" asp-route-id="@chicken.Id" class="btn btn-link">View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>